//Medium Editor Styles
@import '../bower_components/medium-editor/dist/css/medium-editor.min.css';
@import '../bower_components/medium-editor/dist/css/themes/bootstrap.min.css';

//Basic
@import 'normalize';
@import 'toggle-switch';
@import 'fontawesome/font-awesome';

//jQuery UI
@import 'jquery-ui';
@import 'jquery-ui.structure';
@import 'jquery-ui.theme';

// Icon mixins
@mixin fontawesome($icon, $selector){
	&:#{$selector}{
		content:  $icon;
		speak: none;
		text-transform: none;
		line-height: 1;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%button {
	box-shadow: none !important;
	text-shadow: none !important;
	border-radius: 0;
	padding: 5px;
	min-width: 35px;
	height: 35px;
	border: 0;
	background: #222;
	color: #fff;

	&.medium-editor-button-active,
	&.active,
	&:hover{
		background: #333;
  		color: #45bbe6;
	}
}

.medium-editor-toolbar{
	border-radius: 0;
	background: #222;
	border: 0;

	ul{
		li{
			button{
				@extend %button;
			}
		}
	}

	.medium-editor-toolbar-form{
		background: #222;
		border-radius: 0;
		height: 35px;

		input{
		  background: #222;
		  border-radius: 0;
		  height: 35px;
		  padding: 0px 5px;
		  float: left;
		  color: #fff;

		  &:focus{
		  	color: #fff;
		  }
		}

		a{
			font-weight: normal;
		}
	}

	&:after{
		top: 35px;
		border-color: #222 transparent transparent;
	}
}

.medium-editor-anchor-preview{

	&:before{
		  border-color: transparent transparent #222;
	}

	.medium-editor-toolbar-anchor-preview{
		background: #222;
		border-radius: 0;
	}
}

.medium-wa-image-upload-action{
	position: fixed;
	display: none;
	@extend %button;

	&.medium-toolbar-arrow-over:before {
		border-color: transparent transparent #222;
	}

	&.medium-toolbar-arrow-under:after {
		top: 35px;
		border-color: #222 transparent transparent;
	}

	&:hover{
		&.medium-toolbar-arrow-under:after {
			top: 35px;
			border-color: #333 transparent transparent;
		}

		&.medium-toolbar-arrow-over:before {
			border-color: transparent transparent #333;
		}
	}

	&.show{
		display: block;
	}

	.csstransforms &{
		display: block;
		transition: all 0.2s ease;
		transform: translateY(50px);
		z-index: -1;
		opacity: 0;

		&.show{
			z-index: 1;
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

.edit-acf-field{
	position: absolute;
	display: none;
	@extend %button;
	margin-top: -42px;

	&:after {
		top: 35px;
		border-color: #222 transparent transparent;
		border-width: 8px 8px 0 8px;
		position: absolute;
		left: 50%;
		display: block;
		margin-left: -8px;
		width: 0;
		height: 0;
		border-style: solid;
		content: "";
	}

	&:hover{
		&:after {
			top: 35px;
			border-color: #333 transparent transparent;
		}
	}

	&.show{
		display: block;
	}

	.csstransforms &{
		display: block;
		transition: all 0.2s ease;
		transform: translateY(50px);
		z-index: -1;
		opacity: 0;

		&.show{
			z-index: 1;
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

.wa-shortcode-wrap{
	cursor: pointer;

	.gallery-item{
		a{
			cursor: pointer;
		}
	}

	&:hover{
		box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	}
}

.wa-fronted-editor{
	img{
		-webkit-user-drag: none;
		user-drag: none;

		&:hover{
			box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
		}
	}

	img.wp-post-image,
	img[class*="wp-image"]{
		cursor: pointer;
	}
}

#wa-fronted-toolbar{
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	font: 400 13px/32px "Open Sans",sans-serif;

	> button{
		@extend %button;
		background-color: #222;
		padding: 5px 10px;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 2;
		
		i{
		    vertical-align: middle;
		    margin-top: -5px;
		}
	}

	#wa-fronted-save{
		display: none;
	}
}

#wa-fronted-spinner{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: rgba(#000, 0.7);
	text-align: center;

	img{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -22px;
		margin-top: -22px;
		background-color: #fff;
		border-radius: 50%;
		padding: 2px;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	}
}

#acf-dialog{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: rgba(#000, 0.7);
	z-index: 159900;

	#close-acf-dialog{
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 160001;
		@extend %button;
	}

	#acf-dialog-inner{
		position: fixed;
		top: 30px;
		left: 30px;
		right: 30px;
		bottom: 30px;
		z-index: 160000;
		overflow-x: hidden;
		overflow-y: auto;
		box-shadow: 0 5px 15px rgba(#000,.7);
		background-color: #f3f3f3;
		padding-bottom: 60px;

		.acf-fields{
	  		background: #fcfcfc;
	  		border-bottom: 1px solid #ccc;
	  		
	  		.acf-label{
	  			border-bottom: 1px solid #ddd;
	  		}
  		}
	
		.acf-form-submit{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 1px;
			width: 100%;
			display: block;
			background-color: #FCFCFC;
			height: 60px;
			z-index: 100;
			text-align: right;
  			border-top: 1px solid #ddd;

			input{
				margin: 15px;
				text-shadow: none !important;
			}

			.acf-spinner{
				vertical-align: middle;
  				margin-bottom: -25px;
  				margin-right: 10px;
			}
		}
	}
}

.ui-wrapper{
	.ui-resizable-handle{
		border: 1px solid #9E9E9E;
		width: 9px;
		height: 9px;
		bottom: -5px;
		background-image: none;
		background-color: #fff;

		&.ui-resizable{
			&-se{
				right: -5px;
			}
		}

		&:hover{
			background-color: #444;
		}
	}
}